<div class="text-right d-grid py-3 pe-0 pe-lg-2" style="grid-column: 1; grid-row: 1">
    <div class="btn-group" role="group">
        {{#if allowPrevPage}}
        <button type="button" class="btn btn-outline-secondary" onclick="load_into('/calendar?adv={{prevPage}}', 'calendar');">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        {{else}}
        <button type="button" class="btn btn-outline-secondary" disabled="disabled">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        {{/if}}
        <button type="button" class="btn btn-outline-secondary" onclick="load_into('/calendar?adv={{nextPage}}', 'calendar');">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
</div>
{{#each hours as |hour|}}
<div class="text-right d-none d-xl-block" style="grid-column: 1; grid-row: {{hour.rowIndex}}"><p>{{hour.readable}}</p></div>
{{/each}}
{{#each days as |day|}}
<div class="sticky-top bg-white" style="grid-column: {{day.colIndex}}; grid-row: 1">
    <h4 class="pt-3">{{day.readable}}</h4>
    <hr>
</div>
{{#each ../hours as |hour|}}
<div class="d-grid" style="grid-column: {{day.colIndex}}; grid-row: {{hour.rowIndex}}">
        <button type="button" class="btn btn-outline-secondary">
            <span class="d-inline d-xl-none">{{hour.readable}}</span>
        </button>
</div>
{{/each}}
{{/each}}